.card-div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
  flex-direction: row;
}

mat-card {
    width: 50%;
}

mat-card-title,
mat-card-content {
    margin-top: 15px;
    justify-content: center;
    text-align: center;
    max-width: 300px;
}

.total {
  margin-left: 10%;
  font-size: 26px;
}

.total-value {
  color: red;
  font-weight: bold;
}