.card-div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
}

mat-card {
    width: 50%;
}

mat-card-title,
mat-card-content {
    display: flex;
    margin-top: 15px;
    justify-content: center;
    text-align: center;
    max-width: 300px;
    
}